*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
*{
	margin: 0;
	padding: 0;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.top-header{
	width: 100%;
	background-image: url(../img/header2.jpg);
}
.toplist-header{
	background-color: #1A3838; 
	height: 40px;
}
.main-menu{
	height: 50px;
	background-color: #7b868a;
	margin-bottom: 30px;
	opacity: 0.6;
}
.header-img{
	height: 300px;
}
.blog-item img{
	max-width: 100%;
	margin:20px;
}
.content-text{
	margin-top: 20px;
	background-color: #e9e9e9;
}
aside{
	background-color: #e9e9e9;
	margin-top: 20px;
	padding: 20px 20px 20px 40px;
}
.blog-item h3{
	padding: 20px 20px 0 20px;
}
.blog-item p{
	padding: 15px 20px 0 5px;
}