*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
*{
	margin: 0;
	padding: 0;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.auth-buttons{
	border: none;
	background-color: transparent;
	font-size: 23px;
	color: #fff;
	opacity: 0.5;
	position: absolute;
	margin-top: -5px;
	z-index: 10;
}
.main-menu-button{
	border: none;
	background-color: transparent;
	font-size: 26px;
	color: #262e53;
	opacity: 0.5;
	position: absolute;
	margin: 6px 0 10px 15px;
	z-index: 21;
}
.auth-buttons:hover{
	opacity: 1;
}
.top-header{
	width: 100%;
	height: 350px;
	background-image: url(../img/header31.jpg);
}
.top-header h1{
	font-size: 56px;
	padding-bottom: 160px;
	margin: 0;
	color: #fff;
	line-height: 1.2em;
	opacity: 0.9;
}
.toplist-header{
	background-color: #262e53; 
	height: 40px;
	padding: 7px 0;
}
.main-menu{
	height: 50px;
	background-color: #fff;
	margin-bottom: 30px;
	
}
.main-menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
	overflow: visible;
}
.main-menu ul li{
	display: inline-block;
	background-color: #fff;
	width: 140px;
}
.main-menu a{
	color: #262e53;
	text-align: center;
	padding: 15px;
	display: block;
	transition: all .25s;
	box-shadow: 2px 1px 3px #777;
    -moz-box-shadow: 2px 1px 3px #777;
    -webkit-box-shadow: 2px 1px 3px #777;
}
.main-menu a:hover{
	background-color: #f9db17;

}
.blog-item img{
	max-width: 88%;
	margin: 20px;
}
.content-text{
	margin-top: 20px;
	background-color: #f5f5f5;
}
aside{
	background-color: #f5f5f5;
	margin-top: 20px;
	padding: 20px 20px 20px 40px;
}
.blog-item h3{
	padding: 20px 20px 0 20px;
}
.blog-item p{
	padding: 15px 20px 0 5px;
}
.top-links{
	display: inline-block;
	vertical-align: middle;
	color: #8c9b9b;
}
.top-links a{
	color: #fff;
	opacity: 0.5;
}
.soc-buttons a:hover, .top-links a:hover{
	opacity: 1;
}
.soc-buttons{
	float: right;
	margin-top: -3px;
}
.soc-buttons > a{
	font-size: 22px;
	color: #fff;
	margin-left: 8px;
	opacity: 0.5;
}
.main-contant{
	z-index: 10;
}
