/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.main-menu, .top-header h1{
		transition: 4s;
		opacity: 0.75;
	}
	aside, .content-text{
		transition: 4s;
		background-color: #c1c4cc;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.img-wrap{
		text-align: center;
	}
	.img-wrap img{
		margin: 10px;
	}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.top-links{
		display: none;
		position: absolute;
		margin-top: 35px;
		background-color: #262e53;
		padding: 10px;
		z-index: 9;
	}
	.main-menu ul{
		display: none;
		position: absolute;
		margin-top: 40px;
		z-index: 10;
		width: 100%;
		overflow: visible;
	}
	.main-menu ul li{
		display: block;
		width: 100%;
		overflow: visible;
	}
	.main-contant{
		overflow: hidden;
	}
	.main-menu, .top-header h1{
		transition: 4s;
		opacity: 1;
	}
	aside, .content-text{
		transition: 4s;
		background-color: #fff;
	}
	.blog-item p{
		padding-left: 20px;
	}
	.top-header h1{
		text-align: center;
	}
	.img-wrap{
		text-align: center;
	}
	.img-wrap img{
		margin: 10px;
	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {



}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.top-links{
		display: inline-block  !important;
	}
	.main-menu ul{
		display: block !important;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}